.footer{
   padding: 20px 0;
   &__container{
      border-top: 2px solid rgba(77, 76, 76, 0.788);
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__menu{
      display: flex;
      &-item{
         &:not(:last-child){
            margin-right: 20px;
         }
         a{
            color: rgb(44, 44, 44);
            font-size: 19px;
            font-weight: 900;
            line-height: 24px;
            &:hover{
               color: #29ABE2;
            }
         }
         a._active{
            color: #2D4961;
         }
         a._active-color{
            color: #fff;
         }
      }
   }
}