.header{
   box-shadow: 8px 7px 14px 7px rgba(34, 60, 80, 0.2);
   &__container{
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__burger{
      display: none;
   }
   &__logo{
      max-width: 210px;
   }
   &__menu{
      display: flex;
      &-item{
         &:not(:last-child){
            margin-right: 20px;
         }
         a{
            color: rgb(44, 44, 44);
            font-size: 19px;
            font-weight: 500;
            line-height: 24px;
            &:hover{
               color: #29ABE2;
            }
         }
         a._active{
            color: #2D4961;
         }
      }
      a._active-color{
         color: #fff;
      }
   }
}